.container-home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo h1{
    font-size: 60px;
    color: #FFF;

}
.logo span{
    color: #FFF;
    margin-top: 14px;
    margin-bottom: 34px;
    font-size: 19px;

}
.area-input{
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideY 2s;

}
/*Animation going up area-input*/
@keyframes slideY{
    from{
        transform: translateY(90px);

    }
    to{
        transform: translateY(0px);


    }
}

.area-input div{
    color:dimgray;
    width: 100%;
    height: 46px;
    background-color:rgb(255, 255, 255,0.15) ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.area-input svg{
    margin:0 8px;
}

.area-input input{
    width: 100%;
    background-color: transparent;
    border: 0;
    height:46px;
    outline: none;
    font-size: 18px;
    color: #FFF;

}

.area-input input::placeholder{
    color: rgb(255, 255, 255,0.8);
}
.area-input button{
    width:100% ;
    height:46px ;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    color:#000;
    font-weight: bold;
    margin-top: 8px;
    transition: transform 0.7s;
  
}

.area-input button:hover{
    transform: scale(1.05);
}
@media (max-width:615px){
    .logo img{
        width:95px;
    }
    .logo h1{
        font-size: 30px;
    }
    .area-input{
        width: 35%;
       
    }
    .logo span{
        font-size: 16px;
    }
    .area-input input{
        font-size: 12px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .area-input button{
        font-size: 15px;
        font-family:Arial, Helvetica, sans-serif;
    }
}